@media only screen and (min-width: 601px) {
    .timeline {
        display: flex;
        justify-content: space-around;
    }
    .timeline > .container {
        flex: 1 1 0;
        border-bottom: none;
        padding: 0 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .timeline h3 {
        font-size: 1.5rem;
    }
    .job-date {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1680px) {
    .timeline h3 {
        font-size: 2rem;
    }
    .timeline p {
        font-size: 1.25rem;
    }
    .job-date {
        font-size: 1.25rem;
    }
    .timeline ul {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1680px) {
}