@media only screen and (min-width: 601px) {
    .timeline {
        display: flex;
        justify-content: space-around;
    }
    .timeline > .container {
        flex: 1 1 0;
        border-bottom: none;
        padding: 0 1em;
    }
}

@media only screen and (min-width: 1200px) {
    .timeline {
        margin: 0 13em;
    }
}

@media only screen and (min-width: 1680px) {
    .timeline {
        margin: 0 26em;
    }
}

@media only screen and (min-width: 1680px) {
    .timeline {
        margin: 0 39em;
    }
}